//----------Custom Tranform----------
@mixin customTranform($param-tranform: null) {
    @if $param-tranform !=null {
        -webkit-transform: $param-tranform; /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
        -ms-transform: $param-tranform; /* IE 9 */
        transform: $param-tranform; /* IE 10, Fx 16+, Op 12.1+ */
    }
}